body {
  background-color: black;
}

#wsg-tell-no-one {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -666;
}

#login-box img {
  height: 20pt;
}

#login-box input {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px white;
  box-sizing: border-box;
  color: white;
  height: 20pt;
  font-size: 20pt;
  outline: 0;
}

#login-box {
  position: fixed;
  display: block;
  max-width: 100%;
}

#login-box.success input {
  color:  #58ff00;
  border-bottom: solid 1px #58ff00;
}

#login-box.failure input {
  color:  red;
  border-bottom: solid 1px red;
}

#login-box.hidden {
  display: none;
}
